body{
    z-index: 0;
    overflow-x: hidden;
}

.nav{
    /* background-color: #181823;
     */
     font-size: larger;
}

.wrapper{
    max-width: 100%;
    height: 23vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.jumbotron{
    padding-top: 20px;
}

.jumbotron1{
    background-color: #C0EEF2;
    padding: 55px 75px;
    margin: 40px 0;
}

.jumbotron2{
    margin-top: 100px;
    background-color: #181823;
    padding: 0px;
    text-decoration-color: #E9F8F9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btm-wrapper1{
    display: flex;
    flex-direction: column;
    height: 175px;
    justify-content: space-evenly;
    width: 20vw;
}

.btm-wrapper2{
    display: flex;
    flex-direction: column;
    height: 175px;
    justify-content: space-evenly;
    margin-left: 3px;
}

.btm-wrapper2 img{
    width: 26px;
    cursor: pointer;
}

.display6{
    width: 100vw;
    text-align: center;
    margin-top: 40px;
}

.jumbotron2 .display-4{
    font-size: x-large;
}

.jumbotron2 .lead{
    font-size: medium;
}

.jumbotron3{
    background-color: #C0EEF2;
    padding: 50px 0 50px 0;
    margin-bottom: 100px;
    margin-top: 75px;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.smaller{
    font-size: 35px;
}

.active{
    text-decoration-color: #E9F8F9;
    font-weight: bold;
}

.display-4{
    font-weight: 150;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Tinos', serif;

}

.lead{
    padding-top: 0;
    font-weight: 350;
}

.row{
    /* border: 2px solid #000000; */
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 50px;
    justify-content: center;
}

.bold{
    font-weight: 400;
}

.blc{
    /* border: 1px solid #000000; */
    width: 30vw;
}

.im{
    text-align: center;
    margin-right: 55px;
}

.ent{
    padding-top: 35px;
}

.blc-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;

}

.carousel-inner{
    display: flex;
    padding: 16px;
}

.carousel-item{
    display: block;
    flex: 0 0 33%;
    margin: 16px;
}

.card{
    margin: 8px;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 lightgray;
}

.carousel-control-prev .carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #181823;
    border: 50%;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-50%);
}

.carousel-control-prev:hover .carousel-control-next:hover{
    opacity: 1;
}

.org-container img{
    margin: 24px 24px 24px 24px;

}

.bar-cont{
    display: flex;
    flex-direction: row;
    padding: 20px 75px 20px 75px;
    justify-content:left;
    align-items: center;
    width: 58vw;
}

.bar-capt{
    width: 14vw;
    text-align: left;
    font-size: 21px;
}

.progress{
    height: 20px;
    width: 50vw;
    background-color: white;
    border-radius: 8px;
}

.progress-bar{
    background-color: #537FE7;
}

.icon-wrapper{
    padding: 10px;
}

.icon-wrapper img{
    width: 25px;
}

.blue{
    background-color: #77dde7;
    opacity: 50%;
    position: absolute;
}

.blue1{
    width: 175px;
    height: 175px;
    z-index: 2;
    margin-top: 270px;
    margin-left: 15.5vw;
}

.blue2{
    width: 140px;
    height: 140px;
    z-index: -1;
    margin-top: 140px;
    margin-left: 31vw;
}

.blue3{
    width: 80px;
    height: 80px;
    z-index: 2;
    margin-top: 80px;
    margin-left: 14vw;
}

.blue4{
    width: 300px;
    height: 300px;
    z-index: -1;
    margin-top: 230px;
    margin-left: 18vw;
}

.blue5{
    width: 250px;
    height: 250px;
    z-index: -1;
    margin-top: 0px;
    margin-left: 70vw;
}

.blue6{
    width: 175px;
    height: 175px;
    z-index: -1;
    margin-top: -40px;
    margin-left: 10vw;
}

.blue7{
    width: 225px;
    height: 225px;
    z-index: -1;
    margin-top: 10px;
    margin-left: 75vw;
}

.blue8{
    width: 125px;
    height: 125px;
    z-index: -1;
    margin-top: 265px;
    margin-left: 35vw;
}

.display5{
    font-family: 'Tinos', serif;
    font-weight: 700;
    font-size: large;
}

.gold{
    background-color: gold;
}

.silver{
    background-color: silver;
}

.bronze{
    background-color: #CD7F32;
}
